{
  "openapi": "3.1.0",
  "info": { "title": "Bindbee APIs", "version": "0.1.0" },
  "servers": [
    {
      "url": "https://api.bindbee.dev"
    },
    {
      "url": "https://api-eu.bindbee.dev"
    }
  ],
  "paths": {
    "/api/hris/v1/bank-info": {
      "get": {
        "tags": ["Bank Info"],
        "summary": "Get Bank Info List",
        "description": "Returns a list of BankInfo objects.",
        "operationId": "get_bank_info_list_api_hris_v1_bank_info_get",
        "security": [{ "HTTPBearer": [] }],
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "The ID of bank info records to fetch",
              "examples": [
                "01931edf-04b6-7391-8a5c-93ac4b395316,01931edf-04c8-7649-a470-d85f6161bd1a"
              ],
              "title": "Ids"
            },
            "description": "The ID of bank info records to fetch"
          },
          {
            "name": "employee_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "The ID of the employees for the bank info to fetch",
              "examples": [
                "01931edf-04b6-7391-8a5c-93ac4b395316,01931edf-04c8-7649-a470-d85f6161bd1a"
              ],
              "title": "Employee Id"
            },
            "description": "The ID of the employees for the bank info to fetch"
          },
          {
            "name": "remote_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The third-party API ID of the matching object.",
              "examples": ["3235005483341316245"],
              "title": "Remote Id"
            },
            "description": "The third-party API ID of the matching object."
          },
          {
            "name": "include_raw_data",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Whether to include the original data Bindbee fetched from the third-party to produce these models.",
              "examples": [false],
              "default": false,
              "title": "Include Raw Data"
            },
            "description": "Whether to include the original data Bindbee fetched from the third-party to produce these models."
          },
          {
            "name": "include_custom_fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Whether to include custom fields in the response.",
              "examples": [false],
              "default": false,
              "title": "Include Custom Fields"
            },
            "description": "Whether to include custom fields in the response."
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Number of results to return per page. Maximum size is 100.",
              "default": 50,
              "title": "Page Size"
            },
            "description": "Number of results to return per page. Maximum size is 100."
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The pagination cursor value.",
              "title": "Cursor"
            },
            "description": "The pagination cursor value."
          },
          {
            "name": "modified_after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "If provided, only objects synced by Bindbee after this date time will be returned. Format: DateTime (ISO 8601)",
              "examples": ["2024-02-21T21:22:12.993Z"],
              "title": "Modified After"
            },
            "description": "If provided, only objects synced by Bindbee after this date time will be returned. Format: DateTime (ISO 8601)"
          },
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Which relations should be returned in expanded form. Multiple relation names should be comma separated without spaces. You can also specify required fields in [] for each relation name.",
              "examples": ["manager[first_name,last_name]"],
              "title": "Expand"
            },
            "description": "Which relations should be returned in expanded form. Multiple relation names should be comma separated without spaces. You can also specify required fields in [] for each relation name."
          },
          {
            "name": "x-connector-token",
            "in": "header",
            "required": true,
            "schema": { "type": "string", "title": "X-Connector-Token" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HrisBankInfoPaginatedResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/api/hris/v1/bank-info/{id}": {
      "get": {
        "tags": ["Bank Info"],
        "summary": "Get Bank Info By Id",
        "description": "Returns a BankInfo object with the given id.",
        "operationId": "get_bank_info_by_id_api_hris_v1_bank_info__id__get",
        "security": [{ "HTTPBearer": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid", "title": "Id" }
          },
          {
            "name": "include_raw_data",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Whether to include the original data Bindbee fetched from the third-party to produce these models.",
              "examples": [false],
              "default": false,
              "title": "Include Raw Data"
            },
            "description": "Whether to include the original data Bindbee fetched from the third-party to produce these models."
          },
          {
            "name": "include_custom_fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Whether to include custom fields in the response.",
              "examples": [false],
              "default": false,
              "title": "Include Custom Fields"
            },
            "description": "Whether to include custom fields in the response."
          },
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Which relations should be returned in expanded form. Multiple relation names should be comma separated without spaces. You can also specify required fields in [] for each relation name.",
              "examples": ["manager[first_name,last_name]"],
              "title": "Expand"
            },
            "description": "Which relations should be returned in expanded form. Multiple relation names should be comma separated without spaces. You can also specify required fields in [] for each relation name."
          },
          {
            "name": "x-connector-token",
            "in": "header",
            "required": true,
            "schema": { "type": "string", "title": "X-Connector-Token" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HrisBankInfo" }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/api/hris/v1/benefits": {
      "get": {
        "tags": ["Benefits"],
        "summary": "Get Benefits",
        "description": "Returns a list of Benefit objects.",
        "operationId": "get_benefits_api_hris_v1_benefits_get",
        "security": [{ "HTTPBearer": [] }],
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "The ID of the benefits to fetch",
              "examples": [
                "01931edf-04b6-7391-8a5c-93ac4b395316,01931edf-04c8-7649-a470-d85f6161bd1a"
              ],
              "title": "Ids"
            },
            "description": "The ID of the benefits to fetch"
          },
          {
            "name": "employee_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "The ID of the employees for the benefits to fetch",
              "examples": [
                "01931edf-04b6-7391-8a5c-93ac4b395316,01931edf-04c8-7649-a470-d85f6161bd1a"
              ],
              "title": "Employee Id"
            },
            "description": "The ID of the employees for the benefits to fetch"
          },
          {
            "name": "employer_benefit_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "The ID of the employer benefits for the benefits to fetch",
              "examples": [
                "01931edf-04b6-7391-8a5c-93ac4b395316,01931edf-04c8-7649-a470-d85f6161bd1a"
              ],
              "title": "Employer Benefit Id"
            },
            "description": "The ID of the employer benefits for the benefits to fetch"
          },
          {
            "name": "remote_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The third-party API ID of the matching object.",
              "examples": ["3235005483341316245"],
              "title": "Remote Id"
            },
            "description": "The third-party API ID of the matching object."
          },
          {
            "name": "include_raw_data",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Whether to include the original data Bindbee fetched from the third-party to produce these models.",
              "examples": [false],
              "default": false,
              "title": "Include Raw Data"
            },
            "description": "Whether to include the original data Bindbee fetched from the third-party to produce these models."
          },
          {
            "name": "include_custom_fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Whether to include custom fields in the response.",
              "examples": [false],
              "default": false,
              "title": "Include Custom Fields"
            },
            "description": "Whether to include custom fields in the response."
          },
          {
            "name": "modified_after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "If provided, only objects synced by Bindbee after this date time will be returned. Format: DateTime (ISO 8601)",
              "examples": ["2024-02-21T21:22:12.993Z"],
              "title": "Modified After"
            },
            "description": "If provided, only objects synced by Bindbee after this date time will be returned. Format: DateTime (ISO 8601)"
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Number of results to return per page. Maximum size is 100.",
              "default": 50,
              "title": "Page Size"
            },
            "description": "Number of results to return per page. Maximum size is 100."
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The pagination cursor value.",
              "title": "Cursor"
            },
            "description": "The pagination cursor value."
          },
          {
            "name": "start_date_from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "If provided, only objects with start_date same or after this date time will be returned. Format: DateTime (ISO 8601)",
              "examples": ["2024-02-21T21:22:12.993Z"],
              "title": "Start Date From"
            },
            "description": "If provided, only objects with start_date same or after this date time will be returned. Format: DateTime (ISO 8601)"
          },
          {
            "name": "start_date_to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "If provided, only objects with start_date same or before this date time will be returned. Format: DateTime (ISO 8601)",
              "examples": ["2024-02-21T21:22:12.993Z"],
              "title": "Start Date To"
            },
            "description": "If provided, only objects with start_date same or before this date time will be returned. Format: DateTime (ISO 8601)"
          },
          {
            "name": "end_date_from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "If provided, only objects with end_date same or after this date time will be returned. Format: DateTime (ISO 8601)",
              "examples": ["2024-02-21T21:22:12.993Z"],
              "title": "End Date From"
            },
            "description": "If provided, only objects with end_date same or after this date time will be returned. Format: DateTime (ISO 8601)"
          },
          {
            "name": "end_date_to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "If provided, only objects with end_date same or before this date time will be returned. Format: DateTime (ISO 8601)",
              "examples": ["2024-02-21T21:22:12.993Z"],
              "title": "End Date To"
            },
            "description": "If provided, only objects with end_date same or before this date time will be returned. Format: DateTime (ISO 8601)"
          },
          {
            "name": "effective_date_from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "If provided, only objects with effective_date same or after this date time will be returned. Format: DateTime (ISO 8601)",
              "examples": ["2024-02-21T21:22:12.993Z"],
              "title": "Effective Date From"
            },
            "description": "If provided, only objects with effective_date same or after this date time will be returned. Format: DateTime (ISO 8601)"
          },
          {
            "name": "effective_date_to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "If provided, only objects with effective_date same or before this date time will be returned. Format: DateTime (ISO 8601)",
              "examples": ["2024-02-21T21:22:12.993Z"],
              "title": "Effective Date To"
            },
            "description": "If provided, only objects with effective_date same or before this date time will be returned. Format: DateTime (ISO 8601)"
          },
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Which relations should be returned in expanded form. Multiple relation names should be comma separated without spaces. You can also specify required fields in [] for each relation name.",
              "examples": ["manager[first_name,last_name]"],
              "title": "Expand"
            },
            "description": "Which relations should be returned in expanded form. Multiple relation names should be comma separated without spaces. You can also specify required fields in [] for each relation name."
          },
          {
            "name": "x-connector-token",
            "in": "header",
            "required": true,
            "schema": { "type": "string", "title": "X-Connector-Token" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HrisBenefitPaginatedResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/api/hris/v1/benefits/{id}": {
      "get": {
        "tags": ["Benefits"],
        "summary": "Get Benefit By Id",
        "description": "Returns a Benefit object with the given id.",
        "operationId": "get_benefit_by_id_api_hris_v1_benefits__id__get",
        "security": [{ "HTTPBearer": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid", "title": "Id" }
          },
          {
            "name": "include_raw_data",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Whether to include the original data Bindbee fetched from the third-party to produce these models.",
              "examples": [false],
              "default": false,
              "title": "Include Raw Data"
            },
            "description": "Whether to include the original data Bindbee fetched from the third-party to produce these models."
          },
          {
            "name": "include_custom_fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Whether to include custom fields in the response.",
              "examples": [false],
              "default": false,
              "title": "Include Custom Fields"
            },
            "description": "Whether to include custom fields in the response."
          },
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Which relations should be returned in expanded form. Multiple relation names should be comma separated without spaces. You can also specify required fields in [] for each relation name.",
              "examples": ["manager[first_name,last_name]"],
              "title": "Expand"
            },
            "description": "Which relations should be returned in expanded form. Multiple relation names should be comma separated without spaces. You can also specify required fields in [] for each relation name."
          },
          {
            "name": "x-connector-token",
            "in": "header",
            "required": true,
            "schema": { "type": "string", "title": "X-Connector-Token" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HrisBenefit" }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/api/hris/v1/companies": {
      "get": {
        "tags": ["Company"],
        "summary": "Get Companies",
        "description": "Returns a list of Companies objects.",
        "operationId": "get_companies_api_hris_v1_companies_get",
        "security": [{ "HTTPBearer": [] }],
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "The ID of companies to fetch",
              "examples": [
                "01931edf-04b6-7391-8a5c-93ac4b395316,01931edf-04c8-7649-a470-d85f6161bd1a"
              ],
              "title": "Ids"
            },
            "description": "The ID of companies to fetch"
          },
          {
            "name": "remote_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The third-party API ID of the matching object.",
              "examples": ["3235005483341316245"],
              "title": "Remote Id"
            },
            "description": "The third-party API ID of the matching object."
          },
          {
            "name": "include_raw_data",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Whether to include the original data Bindbee fetched from the third-party to produce these models.",
              "examples": [false],
              "default": false,
              "title": "Include Raw Data"
            },
            "description": "Whether to include the original data Bindbee fetched from the third-party to produce these models."
          },
          {
            "name": "include_custom_fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Whether to include custom fields in the response.",
              "examples": [false],
              "default": false,
              "title": "Include Custom Fields"
            },
            "description": "Whether to include custom fields in the response."
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Number of results to return per page. Maximum size is 100.",
              "default": 50,
              "title": "Page Size"
            },
            "description": "Number of results to return per page. Maximum size is 100."
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The pagination cursor value.",
              "title": "Cursor"
            },
            "description": "The pagination cursor value."
          },
          {
            "name": "modified_after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "If provided, only objects synced by Bindbee after this date time will be returned. Format: DateTime (ISO 8601)",
              "examples": ["2024-02-21T21:22:12.993Z"],
              "title": "Modified After"
            },
            "description": "If provided, only objects synced by Bindbee after this date time will be returned. Format: DateTime (ISO 8601)"
          },
          {
            "name": "x-connector-token",
            "in": "header",
            "required": true,
            "schema": { "type": "string", "title": "X-Connector-Token" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HrisCompanyPaginatedResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/api/hris/v1/companies/{id}": {
      "get": {
        "tags": ["Company"],
        "summary": "Get Company By Id",
        "description": "Returns a Company object with the given id.",
        "operationId": "get_company_by_id_api_hris_v1_companies__id__get",
        "security": [{ "HTTPBearer": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid", "title": "Id" }
          },
          {
            "name": "include_raw_data",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Whether to include the original data Bindbee fetched from the third-party to produce these models.",
              "examples": [false],
              "default": false,
              "title": "Include Raw Data"
            },
            "description": "Whether to include the original data Bindbee fetched from the third-party to produce these models."
          },
          {
            "name": "include_custom_fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Whether to include custom fields in the response.",
              "examples": [false],
              "default": false,
              "title": "Include Custom Fields"
            },
            "description": "Whether to include custom fields in the response."
          },
          {
            "name": "x-connector-token",
            "in": "header",
            "required": true,
            "schema": { "type": "string", "title": "X-Connector-Token" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HrisCompany" }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/api/hris/v1/dependents": {
      "get": {
        "tags": ["Dependents"],
        "summary": "Get Dependents",
        "description": "Returns a list of Dependent objects.",
        "operationId": "get_dependents_api_hris_v1_dependents_get",
        "security": [{ "HTTPBearer": [] }],
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "The ID of the dependents to fetch",
              "examples": [
                "01931edf-04b6-7391-8a5c-93ac4b395316,01931edf-04c8-7649-a470-d85f6161bd1a"
              ],
              "title": "Ids"
            },
            "description": "The ID of the dependents to fetch"
          },
          {
            "name": "employee_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "The ID of the employees to fetch dependents for",
              "examples": [
                "01931edf-04b6-7391-8a5c-93ac4b395316,01931edf-04c8-7649-a470-d85f6161bd1a"
              ],
              "title": "Employee Id"
            },
            "description": "The ID of the employees to fetch dependents for"
          },
          {
            "name": "remote_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The third-party API ID of the matching object.",
              "examples": ["3235005483341316245"],
              "title": "Remote Id"
            },
            "description": "The third-party API ID of the matching object."
          },
          {
            "name": "include_raw_data",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Whether to include the original data Bindbee fetched from the third-party to produce these models.",
              "examples": [false],
              "default": false,
              "title": "Include Raw Data"
            },
            "description": "Whether to include the original data Bindbee fetched from the third-party to produce these models."
          },
          {
            "name": "include_custom_fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Whether to include custom fields in the response.",
              "examples": [false],
              "default": false,
              "title": "Include Custom Fields"
            },
            "description": "Whether to include custom fields in the response."
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Number of results to return per page. Maximum size is 100.",
              "default": 50,
              "title": "Page Size"
            },
            "description": "Number of results to return per page. Maximum size is 100."
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The pagination cursor value.",
              "title": "Cursor"
            },
            "description": "The pagination cursor value."
          },
          {
            "name": "modified_after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "If provided, only objects synced by Bindbee after this date time will be returned. Format: DateTime (ISO 8601)",
              "examples": ["2024-02-21T21:22:12.993Z"],
              "title": "Modified After"
            },
            "description": "If provided, only objects synced by Bindbee after this date time will be returned. Format: DateTime (ISO 8601)"
          },
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Which relations should be returned in expanded form. Multiple relation names should be comma separated without spaces. You can also specify required fields in [] for each relation name.",
              "examples": ["manager[first_name,last_name]"],
              "title": "Expand"
            },
            "description": "Which relations should be returned in expanded form. Multiple relation names should be comma separated without spaces. You can also specify required fields in [] for each relation name."
          },
          {
            "name": "x-connector-token",
            "in": "header",
            "required": true,
            "schema": { "type": "string", "title": "X-Connector-Token" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HrisDependentPaginatedResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/api/hris/v1/dependents/{id}": {
      "get": {
        "tags": ["Dependents"],
        "summary": "Get Dependent By Id",
        "description": "Returns a Dependent object with the given id.",
        "operationId": "get_dependent_by_id_api_hris_v1_dependents__id__get",
        "security": [{ "HTTPBearer": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid", "title": "Id" }
          },
          {
            "name": "include_raw_data",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Whether to include the original data Bindbee fetched from the third-party to produce these models.",
              "examples": [false],
              "default": false,
              "title": "Include Raw Data"
            },
            "description": "Whether to include the original data Bindbee fetched from the third-party to produce these models."
          },
          {
            "name": "include_custom_fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Whether to include custom fields in the response.",
              "examples": [false],
              "default": false,
              "title": "Include Custom Fields"
            },
            "description": "Whether to include custom fields in the response."
          },
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Which relations should be returned in expanded form. Multiple relation names should be comma separated without spaces. You can also specify required fields in [] for each relation name.",
              "examples": ["manager[first_name,last_name]"],
              "title": "Expand"
            },
            "description": "Which relations should be returned in expanded form. Multiple relation names should be comma separated without spaces. You can also specify required fields in [] for each relation name."
          },
          {
            "name": "x-connector-token",
            "in": "header",
            "required": true,
            "schema": { "type": "string", "title": "X-Connector-Token" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HrisDependent" }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/api/hris/v1/dependent-benefits": {
      "get": {
        "tags": ["Dependent Benefits"],
        "summary": "Get Dependent Benefits",
        "description": "Returns a list of Dependent Benefit objects.",
        "operationId": "get_dependent_benefits_api_hris_v1_dependent_benefits_get",
        "security": [{ "HTTPBearer": [] }],
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "The ID of the dependent benefits to fetch",
              "examples": [
                "01931edf-04b6-7391-8a5c-93ac4b395316,01931edf-04c8-7649-a470-d85f6161bd1a"
              ],
              "title": "Ids"
            },
            "description": "The ID of the dependent benefits to fetch"
          },
          {
            "name": "employer_benefit_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "The ID of the employer benefits to fetch dependent benefits for",
              "examples": [
                "01931edf-04b6-7391-8a5c-93ac4b395316,01931edf-04c8-7649-a470-d85f6161bd1a"
              ],
              "title": "Employer Benefit Id"
            },
            "description": "The ID of the employer benefits to fetch dependent benefits for"
          },
          {
            "name": "dependent_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "The ID of the dependents to fetch dependent benefits for",
              "examples": [
                "01931edf-04b6-7391-8a5c-93ac4b395316,01931edf-04c8-7649-a470-d85f6161bd1a"
              ],
              "title": "Dependent Id"
            },
            "description": "The ID of the dependents to fetch dependent benefits for"
          },
          {
            "name": "remote_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The third-party API ID of the matching object.",
              "examples": ["3235005483341316245"],
              "title": "Remote Id"
            },
            "description": "The third-party API ID of the matching object."
          },
          {
            "name": "include_raw_data",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Whether to include the original data Bindbee fetched from the third-party to produce these models.",
              "examples": [false],
              "default": false,
              "title": "Include Raw Data"
            },
            "description": "Whether to include the original data Bindbee fetched from the third-party to produce these models."
          },
          {
            "name": "include_custom_fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Whether to include custom fields in the response.",
              "examples": [false],
              "default": false,
              "title": "Include Custom Fields"
            },
            "description": "Whether to include custom fields in the response."
          },
          {
            "name": "modified_after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "If provided, only objects synced by Bindbee after this date time will be returned. Format: DateTime (ISO 8601)",
              "examples": ["2024-02-21T21:22:12.993Z"],
              "title": "Modified After"
            },
            "description": "If provided, only objects synced by Bindbee after this date time will be returned. Format: DateTime (ISO 8601)"
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Number of results to return per page. Maximum size is 100.",
              "default": 50,
              "title": "Page Size"
            },
            "description": "Number of results to return per page. Maximum size is 100."
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The pagination cursor value.",
              "title": "Cursor"
            },
            "description": "The pagination cursor value."
          },
          {
            "name": "start_date_from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "If provided, only objects with start_date same or after this date time will be returned. Format: DateTime (ISO 8601)",
              "examples": ["2024-02-21T21:22:12.993Z"],
              "title": "Start Date From"
            },
            "description": "If provided, only objects with start_date same or after this date time will be returned. Format: DateTime (ISO 8601)"
          },
          {
            "name": "start_date_to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "If provided, only objects with start_date same or before this date time will be returned. Format: DateTime (ISO 8601)",
              "examples": ["2024-02-21T21:22:12.993Z"],
              "title": "Start Date To"
            },
            "description": "If provided, only objects with start_date same or before this date time will be returned. Format: DateTime (ISO 8601)"
          },
          {
            "name": "end_date_from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "If provided, only objects with end_date same or after this date time will be returned. Format: DateTime (ISO 8601)",
              "examples": ["2024-02-21T21:22:12.993Z"],
              "title": "End Date From"
            },
            "description": "If provided, only objects with end_date same or after this date time will be returned. Format: DateTime (ISO 8601)"
          },
          {
            "name": "end_date_to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "If provided, only objects with end_date same or before this date time will be returned. Format: DateTime (ISO 8601)",
              "examples": ["2024-02-21T21:22:12.993Z"],
              "title": "End Date To"
            },
            "description": "If provided, only objects with end_date same or before this date time will be returned. Format: DateTime (ISO 8601)"
          },
          {
            "name": "effective_date_from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "If provided, only objects with effective_date same or after this date time will be returned. Format: DateTime (ISO 8601)",
              "examples": ["2024-02-21T21:22:12.993Z"],
              "title": "Effective Date From"
            },
            "description": "If provided, only objects with effective_date same or after this date time will be returned. Format: DateTime (ISO 8601)"
          },
          {
            "name": "effective_date_to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "If provided, only objects with effective_date same or before this date time will be returned. Format: DateTime (ISO 8601)",
              "examples": ["2024-02-21T21:22:12.993Z"],
              "title": "Effective Date To"
            },
            "description": "If provided, only objects with effective_date same or before this date time will be returned. Format: DateTime (ISO 8601)"
          },
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Which relations should be returned in expanded form. Multiple relation names should be comma separated without spaces. You can also specify required fields in [] for each relation name.",
              "examples": ["manager[first_name,last_name]"],
              "title": "Expand"
            },
            "description": "Which relations should be returned in expanded form. Multiple relation names should be comma separated without spaces. You can also specify required fields in [] for each relation name."
          },
          {
            "name": "x-connector-token",
            "in": "header",
            "required": true,
            "schema": { "type": "string", "title": "X-Connector-Token" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HrisDependentBenefitPaginatedResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/api/hris/v1/dependent-benefits/{id}": {
      "get": {
        "tags": ["Dependent Benefits"],
        "summary": "Get Dependent Benefit By Id",
        "description": "Returns a Dependent Benefit object with the given id.",
        "operationId": "get_dependent_benefit_by_id_api_hris_v1_dependent_benefits__id__get",
        "security": [{ "HTTPBearer": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid", "title": "Id" }
          },
          {
            "name": "include_raw_data",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Whether to include the original data Bindbee fetched from the third-party to produce these models.",
              "examples": [false],
              "default": false,
              "title": "Include Raw Data"
            },
            "description": "Whether to include the original data Bindbee fetched from the third-party to produce these models."
          },
          {
            "name": "include_custom_fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Whether to include custom fields in the response.",
              "examples": [false],
              "default": false,
              "title": "Include Custom Fields"
            },
            "description": "Whether to include custom fields in the response."
          },
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Which relations should be returned in expanded form. Multiple relation names should be comma separated without spaces. You can also specify required fields in [] for each relation name.",
              "examples": ["manager[first_name,last_name]"],
              "title": "Expand"
            },
            "description": "Which relations should be returned in expanded form. Multiple relation names should be comma separated without spaces. You can also specify required fields in [] for each relation name."
          },
          {
            "name": "x-connector-token",
            "in": "header",
            "required": true,
            "schema": { "type": "string", "title": "X-Connector-Token" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HrisDependentBenefit"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/api/hris/v1/employer-benefits": {
      "get": {
        "tags": ["Employer Benefits"],
        "summary": "Get Employer Benefits",
        "description": "Returns a list of Employer Benefit objects.",
        "operationId": "get_employer_benefits_api_hris_v1_employer_benefits_get",
        "security": [{ "HTTPBearer": [] }],
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "The ID of the employer benefits to fetch",
              "examples": [
                "01931edf-04b6-7391-8a5c-93ac4b395316,01931edf-04c8-7649-a470-d85f6161bd1a"
              ],
              "title": "Ids"
            },
            "description": "The ID of the employer benefits to fetch"
          },
          {
            "name": "remote_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The third-party API ID of the matching object.",
              "examples": ["3235005483341316245"],
              "title": "Remote Id"
            },
            "description": "The third-party API ID of the matching object."
          },
          {
            "name": "include_raw_data",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Whether to include the original data Bindbee fetched from the third-party to produce these models.",
              "examples": [false],
              "default": false,
              "title": "Include Raw Data"
            },
            "description": "Whether to include the original data Bindbee fetched from the third-party to produce these models."
          },
          {
            "name": "include_custom_fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Whether to include custom fields in the response.",
              "examples": [false],
              "default": false,
              "title": "Include Custom Fields"
            },
            "description": "Whether to include custom fields in the response."
          },
          {
            "name": "modified_after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "If provided, only objects synced by Bindbee after this date time will be returned. Format: DateTime (ISO 8601)",
              "examples": ["2024-02-21T21:22:12.993Z"],
              "title": "Modified After"
            },
            "description": "If provided, only objects synced by Bindbee after this date time will be returned. Format: DateTime (ISO 8601)"
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Number of results to return per page. Maximum size is 100.",
              "default": 50,
              "title": "Page Size"
            },
            "description": "Number of results to return per page. Maximum size is 100."
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The pagination cursor value.",
              "title": "Cursor"
            },
            "description": "The pagination cursor value."
          },
          {
            "name": "x-connector-token",
            "in": "header",
            "required": true,
            "schema": { "type": "string", "title": "X-Connector-Token" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HrisEmployerBenefitPaginatedResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/api/hris/v1/employer-benefits/{id}": {
      "get": {
        "tags": ["Employer Benefits"],
        "summary": "Get Employer Benefit By Id",
        "description": "Returns a Employer Benefit object with the given id.",
        "operationId": "get_employer_benefit_by_id_api_hris_v1_employer_benefits__id__get",
        "security": [{ "HTTPBearer": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid", "title": "Id" }
          },
          {
            "name": "include_raw_data",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Whether to include the original data Bindbee fetched from the third-party to produce these models.",
              "examples": [false],
              "default": false,
              "title": "Include Raw Data"
            },
            "description": "Whether to include the original data Bindbee fetched from the third-party to produce these models."
          },
          {
            "name": "include_custom_fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Whether to include custom fields in the response.",
              "examples": [false],
              "default": false,
              "title": "Include Custom Fields"
            },
            "description": "Whether to include custom fields in the response."
          },
          {
            "name": "x-connector-token",
            "in": "header",
            "required": true,
            "schema": { "type": "string", "title": "X-Connector-Token" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HrisEmployerBenefit" }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/api/hris/v1/employees": {
      "get": {
        "tags": ["Employee"],
        "summary": "Get Employees",
        "description": "Returns a list of Employee objects.",
        "operationId": "get_employees_api_hris_v1_employees_get",
        "security": [{ "HTTPBearer": [] }],
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "The ID of employees to fetch",
              "examples": [
                "01931edf-04b6-7391-8a5c-93ac4b395316,01931edf-04c8-7649-a470-d85f6161bd1a"
              ],
              "title": "Ids"
            },
            "description": "The ID of employees to fetch"
          },
          {
            "name": "manager_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "The ID of managers to fetch employees for",
              "examples": [
                "01931edf-04b6-7391-8a5c-93ac4b395316,01931edf-04c8-7649-a470-d85f6161bd1a"
              ],
              "title": "Manager Id"
            },
            "description": "The ID of managers to fetch employees for"
          },
          {
            "name": "remote_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The third-party API ID of the matching object.",
              "examples": ["3235005483341316245"],
              "title": "Remote Id"
            },
            "description": "The third-party API ID of the matching object."
          },
          {
            "name": "company_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "The ID of companies to fetch employees for",
              "examples": [
                "01931edf-04b6-7391-8a5c-93ac4b395316,01931edf-04c8-7649-a470-d85f6161bd1a"
              ],
              "title": "Company Id"
            },
            "description": "The ID of companies to fetch employees for"
          },
          {
            "name": "include_raw_data",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Whether to include the original data Bindbee fetched from the third-party to produce these models.",
              "examples": [false],
              "default": false,
              "title": "Include Raw Data"
            },
            "description": "Whether to include the original data Bindbee fetched from the third-party to produce these models."
          },
          {
            "name": "include_custom_fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Whether to include custom fields in the response.",
              "examples": [false],
              "default": false,
              "title": "Include Custom Fields"
            },
            "description": "Whether to include custom fields in the response."
          },
          {
            "name": "employment_status",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/HRISEmploymentStatus",
              "description": "If provided, will only return employees with this employment status.",
              "examples": ["ACTIVE"]
            },
            "description": "If provided, will only return employees with this employment status."
          },
          {
            "name": "employee_number",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "If provided, will only return employees for this employee number",
              "examples": ["000000168"],
              "title": "Employee Number"
            },
            "description": "If provided, will only return employees for this employee number"
          },
          {
            "name": "groups",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "The ID of groups to fetch employees for",
              "examples": [
                "01931edf-04b6-7391-8a5c-93ac4b395316,01931edf-04c8-7649-a470-d85f6161bd1a"
              ],
              "title": "Groups"
            },
            "description": "The ID of groups to fetch employees for"
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Number of results to return per page. Maximum size is 100.",
              "default": 50,
              "title": "Page Size"
            },
            "description": "Number of results to return per page. Maximum size is 100."
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The pagination cursor value.",
              "title": "Cursor"
            },
            "description": "The pagination cursor value."
          },
          {
            "name": "modified_after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "If provided, only objects synced by Bindbee after this date time will be returned. Format: DateTime (ISO 8601)",
              "examples": ["2024-02-21T21:22:12.993Z"],
              "title": "Modified After"
            },
            "description": "If provided, only objects synced by Bindbee after this date time will be returned. Format: DateTime (ISO 8601)"
          },
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Which relations should be returned in expanded form. Multiple relation names should be comma separated without spaces. You can also specify required fields in [] for each relation name.",
              "examples": ["manager[first_name,last_name]"],
              "title": "Expand"
            },
            "description": "Which relations should be returned in expanded form. Multiple relation names should be comma separated without spaces. You can also specify required fields in [] for each relation name."
          },
          {
            "name": "x-connector-token",
            "in": "header",
            "required": true,
            "schema": { "type": "string", "title": "X-Connector-Token" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HrisEmployeePaginatedResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Employee"],
        "summary": "Create Employee",
        "description": "Creates an Employee object with the given values.",
        "operationId": "create_employee_api_hris_v1_employees_post",
        "security": [{ "HTTPBearer": [] }],
        "parameters": [
          {
            "name": "x-connector-token",
            "in": "header",
            "required": true,
            "schema": { "type": "string", "title": "X-Connector-Token" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HrisEmployeeCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WriteApiResponseModel"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/api/hris/v1/employees/create/meta": {
      "get": {
        "tags": ["Employee"],
        "summary": "Get Create Employee Request Body",
        "description": "Returns the data points required to add new employee in HRIS",
        "operationId": "get_create_employee_request_body_api_hris_v1_employees_create_meta_get",
        "security": [{ "HTTPBearer": [] }],
        "parameters": [
          {
            "name": "x-connector-token",
            "in": "header",
            "required": true,
            "schema": { "type": "string", "title": "X-Connector-Token" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetaApiResponseModel"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/api/hris/v1/employees/{id}": {
      "get": {
        "tags": ["Employee"],
        "summary": "Get Employee By Id",
        "description": "Returns an Employee object with the given id.",
        "operationId": "get_employee_by_id_api_hris_v1_employees__id__get",
        "security": [{ "HTTPBearer": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid", "title": "Id" }
          },
          {
            "name": "include_raw_data",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Whether to include the original data Bindbee fetched from the third-party to produce these models.",
              "examples": [false],
              "default": false,
              "title": "Include Raw Data"
            },
            "description": "Whether to include the original data Bindbee fetched from the third-party to produce these models."
          },
          {
            "name": "include_custom_fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Whether to include custom fields in the response.",
              "examples": [false],
              "default": false,
              "title": "Include Custom Fields"
            },
            "description": "Whether to include custom fields in the response."
          },
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Which relations should be returned in expanded form. Multiple relation names should be comma separated without spaces. You can also specify required fields in [] for each relation name.",
              "examples": ["manager[first_name,last_name]"],
              "title": "Expand"
            },
            "description": "Which relations should be returned in expanded form. Multiple relation names should be comma separated without spaces. You can also specify required fields in [] for each relation name."
          },
          {
            "name": "x-connector-token",
            "in": "header",
            "required": true,
            "schema": { "type": "string", "title": "X-Connector-Token" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HrisEmployeeResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/api/hris/v1/employments": {
      "get": {
        "tags": ["Employments"],
        "summary": "Get Employments",
        "description": "Returns a list of Employment objects.",
        "operationId": "get_employments_api_hris_v1_employments_get",
        "security": [{ "HTTPBearer": [] }],
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "The ID of the employments to fetch",
              "examples": [
                "01931edf-04b6-7391-8a5c-93ac4b395316,01931edf-04c8-7649-a470-d85f6161bd1a"
              ],
              "title": "Ids"
            },
            "description": "The ID of the employments to fetch"
          },
          {
            "name": "employee_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "The ID for employees to fetch employments for",
              "examples": [
                "01931edf-04b6-7391-8a5c-93ac4b395316,01931edf-04c8-7649-a470-d85f6161bd1a"
              ],
              "title": "Employee Id"
            },
            "description": "The ID for employees to fetch employments for"
          },
          {
            "name": "remote_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The third-party API ID of the matching object.",
              "examples": ["3235005483341316245"],
              "title": "Remote Id"
            },
            "description": "The third-party API ID of the matching object."
          },
          {
            "name": "include_raw_data",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Whether to include the original data Bindbee fetched from the third-party to produce these models.",
              "examples": [false],
              "default": false,
              "title": "Include Raw Data"
            },
            "description": "Whether to include the original data Bindbee fetched from the third-party to produce these models."
          },
          {
            "name": "include_custom_fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Whether to include custom fields in the response.",
              "examples": [false],
              "default": false,
              "title": "Include Custom Fields"
            },
            "description": "Whether to include custom fields in the response."
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Number of results to return per page. Maximum size is 100.",
              "default": 50,
              "title": "Page Size"
            },
            "description": "Number of results to return per page. Maximum size is 100."
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The pagination cursor value.",
              "title": "Cursor"
            },
            "description": "The pagination cursor value."
          },
          {
            "name": "modified_after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "If provided, only objects synced by Bindbee after this date time will be returned. Format: DateTime (ISO 8601)",
              "examples": ["2024-02-21T21:22:12.993Z"],
              "title": "Modified After"
            },
            "description": "If provided, only objects synced by Bindbee after this date time will be returned. Format: DateTime (ISO 8601)"
          },
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Which relations should be returned in expanded form. Multiple relation names should be comma separated without spaces. You can also specify required fields in [] for each relation name.",
              "examples": ["manager[first_name,last_name]"],
              "title": "Expand"
            },
            "description": "Which relations should be returned in expanded form. Multiple relation names should be comma separated without spaces. You can also specify required fields in [] for each relation name."
          },
          {
            "name": "x-connector-token",
            "in": "header",
            "required": true,
            "schema": { "type": "string", "title": "X-Connector-Token" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HrisEmploymentPaginatedResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/api/hris/v1/employments/{id}": {
      "get": {
        "tags": ["Employments"],
        "summary": "Get Employment By Id",
        "description": "Returns an Employment object with the given id.",
        "operationId": "get_employment_by_id_api_hris_v1_employments__id__get",
        "security": [{ "HTTPBearer": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid", "title": "Id" }
          },
          {
            "name": "include_raw_data",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Whether to include the original data Bindbee fetched from the third-party to produce these models.",
              "examples": [false],
              "default": false,
              "title": "Include Raw Data"
            },
            "description": "Whether to include the original data Bindbee fetched from the third-party to produce these models."
          },
          {
            "name": "include_custom_fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Whether to include custom fields in the response.",
              "examples": [false],
              "default": false,
              "title": "Include Custom Fields"
            },
            "description": "Whether to include custom fields in the response."
          },
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Which relations should be returned in expanded form. Multiple relation names should be comma separated without spaces. You can also specify required fields in [] for each relation name.",
              "examples": ["manager[first_name,last_name]"],
              "title": "Expand"
            },
            "description": "Which relations should be returned in expanded form. Multiple relation names should be comma separated without spaces. You can also specify required fields in [] for each relation name."
          },
          {
            "name": "x-connector-token",
            "in": "header",
            "required": true,
            "schema": { "type": "string", "title": "X-Connector-Token" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HrisEmployment" }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/api/hris/v1/groups": {
      "get": {
        "tags": ["Group"],
        "summary": "Get Groups",
        "description": "Returns a list of Group objects.",
        "operationId": "get_groups_api_hris_v1_groups_get",
        "security": [{ "HTTPBearer": [] }],
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "The ID of the groups to fetch",
              "examples": [
                "01931edf-04b6-7391-8a5c-93ac4b395316,01931edf-04c8-7649-a470-d85f6161bd1a"
              ],
              "title": "Ids"
            },
            "description": "The ID of the groups to fetch"
          },
          {
            "name": "remote_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The third-party API ID of the matching object.",
              "examples": ["3235005483341316245"],
              "title": "Remote Id"
            },
            "description": "The third-party API ID of the matching object."
          },
          {
            "name": "include_raw_data",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Whether to include the original data Bindbee fetched from the third-party to produce these models.",
              "examples": [false],
              "default": false,
              "title": "Include Raw Data"
            },
            "description": "Whether to include the original data Bindbee fetched from the third-party to produce these models."
          },
          {
            "name": "include_custom_fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Whether to include custom fields in the response.",
              "examples": [false],
              "default": false,
              "title": "Include Custom Fields"
            },
            "description": "Whether to include custom fields in the response."
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Number of results to return per page. Maximum size is 100.",
              "default": 50,
              "title": "Page Size"
            },
            "description": "Number of results to return per page. Maximum size is 100."
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The pagination cursor value.",
              "title": "Cursor"
            },
            "description": "The pagination cursor value."
          },
          {
            "name": "modified_after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "If provided, only objects synced by Bindbee after this date time will be returned. Format: DateTime (ISO 8601)",
              "examples": ["2024-02-21T21:22:12.993Z"],
              "title": "Modified After"
            },
            "description": "If provided, only objects synced by Bindbee after this date time will be returned. Format: DateTime (ISO 8601)"
          },
          {
            "name": "x-connector-token",
            "in": "header",
            "required": true,
            "schema": { "type": "string", "title": "X-Connector-Token" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HrisGroupPaginatedResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/api/hris/v1/groups/{id}": {
      "get": {
        "tags": ["Group"],
        "summary": "Get Group By Id",
        "description": "Returns a Group object with the given id.",
        "operationId": "get_group_by_id_api_hris_v1_groups__id__get",
        "security": [{ "HTTPBearer": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid", "title": "Id" }
          },
          {
            "name": "include_raw_data",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Whether to include the original data Bindbee fetched from the third-party to produce these models.",
              "examples": [false],
              "default": false,
              "title": "Include Raw Data"
            },
            "description": "Whether to include the original data Bindbee fetched from the third-party to produce these models."
          },
          {
            "name": "include_custom_fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Whether to include custom fields in the response.",
              "examples": [false],
              "default": false,
              "title": "Include Custom Fields"
            },
            "description": "Whether to include custom fields in the response."
          },
          {
            "name": "x-connector-token",
            "in": "header",
            "required": true,
            "schema": { "type": "string", "title": "X-Connector-Token" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HrisGroup" }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/api/hris/v1/pay-groups": {
      "get": {
        "tags": ["Pay Groups"],
        "summary": "Get Pay Groups",
        "description": "Returns a list of PayGroup objects.",
        "operationId": "get_pay_groups_api_hris_v1_pay_groups_get",
        "security": [{ "HTTPBearer": [] }],
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "The ID of the pay groups to fetch",
              "examples": [
                "01931edf-04b6-7391-8a5c-93ac4b395316,01931edf-04c8-7649-a470-d85f6161bd1a"
              ],
              "title": "Ids"
            },
            "description": "The ID of the pay groups to fetch"
          },
          {
            "name": "remote_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The third-party API ID of the matching object.",
              "examples": ["3235005483341316245"],
              "title": "Remote Id"
            },
            "description": "The third-party API ID of the matching object."
          },
          {
            "name": "include_raw_data",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Whether to include the original data Bindbee fetched from the third-party to produce these models.",
              "examples": [false],
              "default": false,
              "title": "Include Raw Data"
            },
            "description": "Whether to include the original data Bindbee fetched from the third-party to produce these models."
          },
          {
            "name": "include_custom_fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Whether to include custom fields in the response.",
              "examples": [false],
              "default": false,
              "title": "Include Custom Fields"
            },
            "description": "Whether to include custom fields in the response."
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Number of results to return per page. Maximum size is 100.",
              "default": 50,
              "title": "Page Size"
            },
            "description": "Number of results to return per page. Maximum size is 100."
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The pagination cursor value.",
              "title": "Cursor"
            },
            "description": "The pagination cursor value."
          },
          {
            "name": "modified_after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "If provided, only objects synced by Bindbee after this date time will be returned. Format: DateTime (ISO 8601)",
              "examples": ["2024-02-21T21:22:12.993Z"],
              "title": "Modified After"
            },
            "description": "If provided, only objects synced by Bindbee after this date time will be returned. Format: DateTime (ISO 8601)"
          },
          {
            "name": "x-connector-token",
            "in": "header",
            "required": true,
            "schema": { "type": "string", "title": "X-Connector-Token" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HrisPayGroupPaginatedResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/api/hris/v1/pay-groups/{id}": {
      "get": {
        "tags": ["Pay Groups"],
        "summary": "Get Pay Group By Id",
        "description": "Returns a PayGroup object with the given id.",
        "operationId": "get_pay_group_by_id_api_hris_v1_pay_groups__id__get",
        "security": [{ "HTTPBearer": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid", "title": "Id" }
          },
          {
            "name": "include_raw_data",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Whether to include the original data Bindbee fetched from the third-party to produce these models.",
              "examples": [false],
              "default": false,
              "title": "Include Raw Data"
            },
            "description": "Whether to include the original data Bindbee fetched from the third-party to produce these models."
          },
          {
            "name": "include_custom_fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Whether to include custom fields in the response.",
              "examples": [false],
              "default": false,
              "title": "Include Custom Fields"
            },
            "description": "Whether to include custom fields in the response."
          },
          {
            "name": "x-connector-token",
            "in": "header",
            "required": true,
            "schema": { "type": "string", "title": "X-Connector-Token" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HrisPayGroup" }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/api/hris/v1/payroll-runs": {
      "get": {
        "tags": ["Payroll Runs"],
        "summary": "Get Payroll Runs",
        "description": "Returns a list of PayrollRun objects.",
        "operationId": "get_payroll_runs_api_hris_v1_payroll_runs_get",
        "security": [{ "HTTPBearer": [] }],
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "The ID of the payroll runs to fetch",
              "examples": [
                "01931edf-04b6-7391-8a5c-93ac4b395316,01931edf-04c8-7649-a470-d85f6161bd1a"
              ],
              "title": "Ids"
            },
            "description": "The ID of the payroll runs to fetch"
          },
          {
            "name": "run_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The type of the payroll run Possible values include: REGULAR, \n        OFF_CYCLE, CORRECTION, TERMINATION, SIGN_ON_BONUS. In cases where there is \n        no clear mapping, the original value passed through will be returned.",
              "examples": ["REGULAR"],
              "title": "Run Type"
            },
            "description": "The type of the payroll run Possible values include: REGULAR, \n        OFF_CYCLE, CORRECTION, TERMINATION, SIGN_ON_BONUS. In cases where there is \n        no clear mapping, the original value passed through will be returned."
          },
          {
            "name": "run_state",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The state of the payroll run Possible values include: PAID, \n        DRAFT, APPROVED, FAILED, CLOSED. In cases where there is no clear mapping, \n        the original value passed through will be returned.",
              "examples": ["PAID"],
              "title": "Run State"
            },
            "description": "The state of the payroll run Possible values include: PAID, \n        DRAFT, APPROVED, FAILED, CLOSED. In cases where there is no clear mapping, \n        the original value passed through will be returned."
          },
          {
            "name": "remote_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The third-party API ID of the matching object.",
              "examples": ["3235005483341316245"],
              "title": "Remote Id"
            },
            "description": "The third-party API ID of the matching object."
          },
          {
            "name": "include_raw_data",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Whether to include the original data Bindbee fetched from the third-party to produce these models.",
              "examples": [false],
              "default": false,
              "title": "Include Raw Data"
            },
            "description": "Whether to include the original data Bindbee fetched from the third-party to produce these models."
          },
          {
            "name": "include_custom_fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Whether to include custom fields in the response.",
              "examples": [false],
              "default": false,
              "title": "Include Custom Fields"
            },
            "description": "Whether to include custom fields in the response."
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Number of results to return per page. Maximum size is 100.",
              "default": 50,
              "title": "Page Size"
            },
            "description": "Number of results to return per page. Maximum size is 100."
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The pagination cursor value.",
              "title": "Cursor"
            },
            "description": "The pagination cursor value."
          },
          {
            "name": "modified_after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "If provided, only objects synced by Bindbee after this date time will be returned. Format: DateTime (ISO 8601)",
              "examples": ["2024-02-21T21:22:12.993Z"],
              "title": "Modified After"
            },
            "description": "If provided, only objects synced by Bindbee after this date time will be returned. Format: DateTime (ISO 8601)"
          },
          {
            "name": "start_date_from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "If provided, only objects with start_date same or after this date time will be returned. Format: DateTime (ISO 8601)",
              "examples": ["2024-02-21T21:22:12.993Z"],
              "title": "Start Date From"
            },
            "description": "If provided, only objects with start_date same or after this date time will be returned. Format: DateTime (ISO 8601)"
          },
          {
            "name": "start_date_to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "If provided, only objects with start_date same or before this date time will be returned. Format: DateTime (ISO 8601)",
              "examples": ["2024-02-21T21:22:12.993Z"],
              "title": "Start Date To"
            },
            "description": "If provided, only objects with start_date same or before this date time will be returned. Format: DateTime (ISO 8601)"
          },
          {
            "name": "end_date_from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "If provided, only objects with end_date same or after this date time will be returned. Format: DateTime (ISO 8601)",
              "examples": ["2024-02-21T21:22:12.993Z"],
              "title": "End Date From"
            },
[...]
